/*** Navbar ***/
.navbar {
    padding-top: 20px;
    .nav-link {
        color: #212832;
        margin-right: 2rem;
    }
    .signup-btn {
        border: 1px solid #212832 !important;
        border-radius: 10px;
    }
}
