<!-- <section class="things-we-do-section py-5">
    <div class="container">
       <div class="d-flex">
       
        <div class="things-list d-flex">
            <div class="one d-flex align-items-center mt-5">
                <div class="things-img bg-black">
                    <img src="assets/images/ThingsWeDo/thingsWeDo-5.png">
                </div>
            </div>
            <div class="two d-flex flex-column justify-content-end">
                <div class="things-img bg-danger">
                    <img src="assets/images/ThingsWeDo/thingsWeDo-4.png">
                </div>
                <div class="things-img bg-info">
                    <img src="assets/images/ThingsWeDo/thingsWeDo-3.png">
                </div>
            </div>
            <div class="three d-flex flex-column">
                <div class="things-img bg-success">
                    <img src="assets/images/ThingsWeDo/thingsWeDo-4.png">
                 </div>
                 <div class="things-img bg-white">
                    <img src="assets/images/ThingsWeDo/thingsWeDo-1.png">
                 </div>
            </div>
        </div>

        <div class="things-qoute d-flex flex-column justify-content-center px-5 mt-4 text-end">
            <div class="things-qoute-content ms-auto">
                <h2 class="mb-3 fw-bold"> We Deliver Digital Productivity</h2>
                <p class="text-white"> We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners. </p>
            </div>
        </div>
       
       </div>
    </div>
</section> -->


<section class="things-we-do-section">
    <div class="container">
       <div class="things-container d-flex">
       
        <div class="things-list">
                <div class="things-img item-1">
                    <div class="overlay">
                        <a class="text-white text-decoration-none position-absolute" href="https://linkdevelopment.com/" target="_blank">
                            <i class="fas fa-long-arrow-alt-right"></i> Read More
                        </a>
                    </div>
                    <h4>Transformation</h4>
                    <img src="assets/images/ThingsWeDo/thingsWeDo-5.png">
                </div>
                <div class="things-img item-2">
                    <div class="overlay">
                        <a class="text-white text-decoration-none position-absolute" href="https://linkdevelopment.com/" target="_blank">
                            <i class="fas fa-long-arrow-alt-right"></i> Read More
                        </a>
                    </div>
                    <h4>Envision</h4>
                    <img src="assets/images/ThingsWeDo/thingsWeDo-3.png">
                </div>
                <div class="things-img item-3">
                    <div class="overlay">
                        <a class="text-white text-decoration-none position-absolute" href="https://linkdevelopment.com/" target="_blank">
                            <i class="fas fa-long-arrow-alt-right"></i> Read More
                        </a>
                    </div>
                    <h4>Crafty Mind</h4>
                    <img src="assets/images/ThingsWeDo/thingsWeDo-1.png">
                 </div>
                <div class="things-img item-4">
                    <div class="overlay">
                        <a class="text-white text-decoration-none position-absolute" href="https://linkdevelopment.com/" target="_blank">
                            <i class="fas fa-long-arrow-alt-right"></i> Read More
                        </a>
                    </div>
                    <h4>Dynamics 365</h4>
                    <img src="assets/images/ThingsWeDo/thingsWeDo-4.png">
                </div>
               
                <div class="things-img item-5">
                    <div class="overlay">
                        <a class="text-white text-decoration-none position-absolute" href="https://linkdevelopment.com/" target="_blank">
                            <i class="fas fa-long-arrow-alt-right"></i> Read More
                        </a>
                    </div>
                    <h4>Services</h4>
                    <img src="assets/images/ThingsWeDo/thingsWeDo-2.png">
                 </div>
                
        </div>

        <div class="things-qoute d-flex flex-column justify-content-center px-5 mt-4 text-end">
            <div class="things-qoute-content ms-auto">
                <h2 class="mb-3 fw-bold"> We Deliver Digital Productivity</h2>
                <p class="text-white"> We craft technology solutions that digitally bond and transform the productivity of our customers and their citizens, workers, consumers and partners. </p>
            </div>
        </div>
       
       </div>
    </div>
</section>
