h2 {
    font-size: 50px;
}
.category-select {
    padding: 6px 10px;
    background-color: #E3E3E3;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background-color:  #0ECEFF;
        color: #fff;
    }
}

.active {
    background-color:  #0ECEFF;
    color: #fff;
}

.show-card {
    display: block !important;
}

.hide-card {
    display: none;
}

.view-all {
    button {
        border: 1px solid #FF7C16;
        background-color: #FF7C16;
        transition: all 0.3s;
        &:hover {
        background-color: #fff;
        color: #FF7C16 !important;
       }
    }
}