<section class="news-listing py-5 mb-3">
    <div class="container">
        <div class="text-center">
            <h5>Media</h5>
            <h2 class="my-4">Top News</h2>
        </div>

        <div class="news-categories flex-column flex-md-row d-flex gap-4 justify-content-center mb-4">
            <div class="border-radius-10 category-select active" (click)="getCategoryID(0,$event)">
                All News
            </div>
            <div *ngFor="let category of newsCategory" (click)="getCategoryID(category.id,$event)"
                class="border-radius-10 category-select" type="button">
                {{ category.name}}
            </div>
        </div>

        <div class="row">
            <div *ngFor="let item of News" class="col-md-6 col-lg-4 hide-card"
                [ngClass]="{'show-card': item.categoryID == categoryId || categoryId == 0}" [id]="item.categoryID">
                <div class="col-md-4">
                    <app-news-card [newsCard]="item"></app-news-card>
                </div>
            </div>
        </div>

        <div *ngIf="categoryId != 0" class="view-all mt-3 text-center">
            <button class="btn text-white px-5 border-radius-10" (click)="ViewAllNews()">View All News</button>
        </div>
    </div>
</section>