
/*** Carousel ***/
.carousel {
    .carousel-indicators {
        width: max-content;
        margin-left: 7rem;
        button {
            width: 45px;
            height: 25px;
            border-radius: 50%;
            background-color: #FF7C16;
        }
        .active {
            width: 48px;
            height: 28px;
        }
        span {
            margin-top: 0.35rem;
        }
    }
    .carousel-title {
        width: 48%;
        margin-top: 12rem;
    h1 {
        font-size: 75px;
    }
   }
   .title-overlay {
       z-index: -10;
       top: 30%;
       right: -4rem;
   }
   .banner-img {
       margin-top: 6rem;
    img {
        width: 600px;
        height: 600px;
    }

   }
   .find-more {
       background-color: #FF7C16;
       color: #fff;
       border: 1px solid #FF7C16;
       border-radius: 10px;
       padding: 19px 26px;
       position: relative;
       top: 0;
       left: 0;
       z-index: 50;
       transition: all 0.3s;
       &:hover {
        background-color: #fff;
        color: #FF7C16;
       }
   }
}

/*** Overlay ***/
.banner-overlay {
    top: -40%;
    right: -30%;
    z-index: -20;
    animation: circleMove 5s linear infinite;

}

@keyframes circleMove {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}

//Responsvise: 
@media (max-width: 768px) {
    .carousel {
        .carousel-indicators {
            margin: auto;
            button {
                width: 25px;
                height: 5px;
            }
            .active {
                width: 30px;
                height: 10px;
            }
        }
        .banner-flexBox {
            flex-direction: column;
        }
        .banner-img {
         img {
             width: 300px;
             height: 300px;
            }
        }
        .carousel-title {
            margin-top: 8rem;
        h1 {
            font-size: 35px;
          }
          .find-more {
              padding:  auto;
          }
        }
    }
}

@media (max-width: 991px) {
    .carousel {
        .carousel-title {
            width: 100%;
        h1 {
            font-size: 35px;
          }
          .find-more {
              padding:  auto;
          }
        }
        .title-overlay {
            right: -7rem;
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel {
        .carousel-indicators {
            margin-left: 30rem;
        }
    }
}