<!-- Start News Card -->
<div class="news-card border-radius-10 shadow mb-5">
    <img [src]="newsCard.urlToImage" [alt]="newsCard.title" class="news-card-img">
    <div class="card-content p-3">
        <a [routerLink]='["/news-item" , newsCard.id]' class="card-title d-block text-decoration-none">{{ newsCard.title }}</a>

        <div class="d-flex align-items-center gap-2">
            <img src="assets/images/Icons/date-icon.png" width="20px" height="20px">
            <p class="card-date mb-0">{{ newsCard.publishedDate }}</p>
        </div>

        <div class="actions d-flex justify-content-between mt-3">
            <span class="category border-radius-10 px-1">
                {{  GetCategoryName(newsCard.categoryID) }}
            </span>
            <div class="d-flex gap-2 position-relative">
                <button class="btn p-0" (click)="ToggleLikeNews()">
                    <i class="far fa-heart" *ngIf="!isLiked"></i>
                    <i class="fas fa-heart" *ngIf="isLiked"></i>
                </button>
                <button (click)="ToggleSocialMediaBox($event)" class="btn p-0">
                    <i class="fas fa-share-alt"></i>
                </button>
                <div *ngIf="ShowSocialMedial" class="social-media d-flex position-absolute top-100 end-0">
                        <div class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="twitter">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="email">
                            <i class="fas fa-envelope"></i>
                        </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- End News Card -->
