.footer-item {
    margin-bottom: 1.5rem;
    h4 {
        margin-bottom: 1.5rem;
        font-size: 21px;
    }
    li {
        font-size: 18px;
        margin-bottom: 0.5rem;
        color: #5E6282;
    }
    .description {
        font-size: 14px;
    }
    .social-media-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
            background-color: #F215B6;
            color: #fff;
            cursor: pointer;
        } 
    }
}

.copy-rights {
    p {
        font-size: 14px;
        color: #5E6282;
        text-align: center;
    }
}
