<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg">
                <div class="footer-item">
                    <ul class="list-unstyled w-75">
                        <li>
                            <img src="assets/images/Logo.png" alt="">
                        </li>
                        <li class="description">
                            We make technology produce productive, adaptable and sustainable business experiences.                     
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg">
                <div class="footer-item">
                    <h4>Company</h4>
                    <ul class="list-unstyled">
                        <li>About</li>
                        <li>Careers</li>
                        <li>Mobile</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg">
                <div class="footer-item">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li>Help/FAQ</li>
                        <li>Press</li>
                        <li>Affilates</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg">
                <div class="footer-item">
                    <h4>Media</h4>
                    <ul class="list-unstyled">
                        <li>News</li>
                        <li>Photo</li>
                        <li>Video</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6 col-lg">
                <div class="footer-item">
                    <div class="social-media d-flex gap-4">
                        <div class="social-media-icon shadow">
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div class="social-media-icon shadow">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="social-media-icon shadow">
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                    <h4 class="text-secondary mt-4">Discover our app</h4>
                    <img src="assets/images/Icons/App.JPG" alt="">
                </div>
            </div>

        </div>

        <div class="copy-rights py-4">
            <p>All rights reserved@Linkdevelopment.com</p>
        </div>
    </div>
</footer>